<div class="control-section" *ngIf='ready' class="wid" >

    <ejs-grid #Grid id='Grid' [dataSource]='parentData'  class = 'wid2' [childGrid]='childGrid' [allowSorting]='true'  height='100%' width='100%'  >
        
        <e-columns>
            
            <e-column field='state' headerText='State' id='st'  [customAttributes]='customAttributes' width='25%' ></e-column>
            
             <e-column field='confirmed' headerText='Cnfrmd' [customAttributes]='customAttributes' width='20%' ></e-column>
            <e-column field='active' headerText='Actv' [customAttributes]='customAttributes' width='20%' ></e-column>
            <e-column field='recovered' headerText='Rcvrd'  [customAttributes]='customAttributes' width='20%' ></e-column>
            <e-column field='deceased' headerText='Dcsd' [customAttributes]='customAttributes' width='15%' ></e-column> 
        
        </e-columns>
    </ejs-grid>
</div>
