.e-grid .e-rowcell   { 
    // font-size: 30px;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem;
    font-family: "archia";
  
    word-wrap: break-word;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
     
    
    // border-spacing: 3px 4px; 
} 

// .e-rowcell .e-headercell  .e-columnheader .e-gridheader .e-grid {
//     font-size: 30px;
//     font-weight: 600;
//     padding: 0.25rem;
//     font-family: "archia";
  
//     word-wrap: break-word;
//     white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
//     white-space: -pre-wrap;      /* Opera 4-6 */
//     white-space: -o-pre-wrap;    /* Opera 7 */
//     white-space: pre-wrap;       /* css-3 */
//     word-wrap: break-word;       /* Internet Explorer 5.5+ */
//     white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
//     word-break: break-all;
//     white-space: normal;
    
    
    
// //   }
//   .e-grid  { 
      
//   overflow-x: hidden;
//   overflow-y: hidden;  
//  }
//  .e-grid .customcss{
//      background-color: #ecedee;
//      color: 'red';
//      font-family: 'Bell MT';
//      font-size: 20px;
//  }
 .e-grid .e-headercell.customcss {

    font-size: 0.4rem;
    font-weight: 600;
    padding: 0.1rem;
    font-family: "archia";
  
    word-wrap: break-word;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
     
    
    font-size: 5.1px;
}

// .e-grid .e-headercell.customcss{
    
//     font-size: 9.9rem;
//     font-weight: 600;
//     padding: 0.25rem;
//     font-family: "archia";
  
    
// }
.wid
 {
    width: 100%;
    
max-width: 30rem;    
}

// #st
// {
//     max-width: 400px;
// }

